@use "variables" as v;
@use "mixins" as m;

.footer__content{
    height: 80vh;
    width: 100%;
    background-color: v.$fontblack;

    .footer__content-all{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        height: 100%;
        padding: 25px;

        .footer__content-info{
            @include m.footer-info;
        }
        .footer__content-adress{
            @include m.footer-info;
        }
        .footer__content-social{
            @include m.footer-info;
        }
    }
}