@use "variables" as v;
@use "mixins" as m;

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: v.$size-45;
    padding: 0 v.$size-padding-horizantal;
        .hero__title{
            color: v.$fontwhite;
            text-align: center;
        }
        .hero__pre{
            @include m.pre;
        }
}