@use "variables" as v;

@mixin pre {
    color: v.$fontwhite;
    text-align: center;
    font-size: v.$sizep;
}

@mixin pic{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: v.$shadow;
}

@mixin main-text{
    margin: v.$size-25;
    border:1px solid grey;
    background-color: v.$fontgrey;
    padding: 30px;
    border-radius: 10px;
    text-align: center ;
    @include for-desktop{
        width: 22em;
    }
        
    

}

@mixin footer-info{
    display: flex;
    flex-direction: column;
    gap: v.$size-25;
    color: v.$fontwhite;
    font-size: v.$size-25;
    padding-left: 80px;
    width: 50%
}
@mixin for-desktop{
    @media screen and (min-width:1200px){
        @content
        
    }
}