@use "variables" as v;

h2{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: whitesmoke;
}
h3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-content: space-around;
    color: whitesmoke;
}