// Size
$size-padding-horizantal: 30px;
$size-padding-vertical: 10px;
$size-45: 45px;
$size-25: 25px;
$bgheight: 100vh;
$bgwidth: 100%;
$mainheight: 150vh;
$size-90: 90px;
// Font
$sizeh1: 30px;
$sizeh2: 28px;
$sizep: 25px;

// Colors
$fontwhite: whitesmoke;
$fontblack:black;
$fontgrey: lightgrey;
$shadow: 1px 2px 15px 10px grey;
